<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="1erTemplate">    <!--la liaison avec la page creer-->
<head>
    <meta charset="UTF-8">
    <title>Edit_Professeur</title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.2.3/css/bootstrap.min.css">
</head>
<body>
<div layout:fragment="content1">   <!--la liaison avec la page creer-->
    <div class="col-md-6 offset-3">
    <form method="post" th:action="@{save?(page=${page}, keyword=${keyword})}">
        <div>
            <label >ID :</label>
            <label th:text="${professeur.id}"></label>
            <input class="form-control" type="hidden" name="id" th:value="${professeur.id}">
            <br>
            <!--<span class="text-danger" th:errors="${patient.nom}"></span>-->
        </div>

        <div>
            <label for="nom">Nom</label>
            <input id="nom" class="form-control" type="text" name="nom" placeholder="Enter nom" th:value="${professeur.nom}">
            <span class="text-danger" th:errors="${professeur.nom}"></span>
        </div>

        <div>
            <label for="prenom">Prenom</label>
            <input id="prenom" class="form-control" type="text" name="prenom" placeholder="Enter prenom" th:value="${professeur.prenom}">
            <span class="text-danger" th:errors="${professeur.prenom}"></span>
        </div>
        <div>
            <label for="email">Email</label>
            <input id="email" class="form-control" type="text" name="email" placeholder="Enter email" th:value="${professeur.email}">
            <span class="text-danger" th:errors="${professeur.email}"></span>
        </div>

        <div>
            <label>Date Naissance</label>
            <input class="form-control" type="date" name="dateNaissance" th:value="${professeur.dateNaissance}">
            <span class="text-danger" th:errors="${professeur.dateNaissance}"></span>
        </div>

        <!--<div>
            <label>Malade</label>
            <input type="checkbox" name="malade" th:checked="${patient.malade}">
            <span class="text-danger" th:errors="${patient.malade}"></span>
        </div>-->

        <div>
            <label>Etat</label>
            <input class="form-control" type="text" name="etat" th:value="${professeur.etat}">
            <span class="text-danger" th:errors="${professeur.etat}"></span>
        </div>
        <br>
        <button type="submit" class="btn btn-primary">Save</button>
    </form>
    </div>

</div>
</div>
</body>
</html>